## tail mode
POD_NAME='relay-pod'
POD_NAMESPACE='rafay-system'
RAFAY_RELAY_PEERSERVICE='https://peering.sentry.rafay.local:10001'
SENTRY_ADDR='http://localhost:10000'
AUDIT_PATH='/tmp'

# outside core
BOOTSTRAP_ADDR=''
RELAY_PEERING_TOKEN='-'
