## server mode
POD_NAME='relay-pod'
POD_NAMESPACE='paralus-system'
PARALUS_RELAY_PEERSERVICE='https://peering.sentry.paralus.local:10001'
SENTRY_ADDR='http://localhost:10000'  # Used when relay deployed inside core
AUDIT_PATH='/tmp'
METRIC_LISTEN=':8003'

# outside core
BOOTSTRAP_ADDR=''
RELAY_PEERING_TOKEN='-'
RELAY_USER_TOKEN='-'
RELAY_CONNECTOR_TOKEN='-'
RELAY_USER_HOST_PORT=''
RELAY_CONNECTOR_HOST_PORT=''
RELAY_NETWORK_ID='paralus-core-64a66h0asw'